@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  background-color: #c6c6c6;
}


.board {
  position: relative;
  background-color: #c6c6c6;
  padding: 20px;
}

.board::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #808080;
  border-right-color: #808080;
}

.warp {
  position: relative;
  background-color: #808080;
}


.warp div {
  z-index: 1;
}

.warp>div >.block:first-child {
  border-top: 0
}

.warp>div>.block:last-child {
 border-bottom: 0
}

.warp>div:first-child .block{
 border-left: 0;
}

.warp>div:last-child .block{
 border-right: 0;
}


.warp::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}


.block{
  border: 1px solid #808080;
  background-color: #c6c6c6;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.block-action{
  position: relative;
  background-color: #c6c6c6;
}

.block-action::before{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #808080;
  border-right-color: #808080;
}

.block-revealed{
  display: flex;
  align-items: center;
  justify-content: center;
}